
body {
//	background-color:#FFFFFF;
// background-image:none;
/*
	background-color: none;
	background-image:url(/extension/aaronschlosberg/design/aaronschlosgerg/images/background.jpg);
	background-repeat:repeat-x;
*/
	color:#535548;
	font-family:Arial,Helvetica,sans-serif;
	font-size:0.8em;
	margin:0pt;
	padding:0pt;
	text-align:center;
}

div#logo h1 {
        font-weight: bolder;
        font-size: 30pt;
}
div#logo {
    left:0px;
    margin:0;
    position:relative;
    top:07px;
    height:30px;
}
div#logo a {
        font-color: #000000;
    	text-decoration: none;
}
div#header {
	// background-color: none;
	// background-image: url
	// background-color: grey;
	/*
		padding:0.25em 0.25em 0.75em;
	*/
        background-position:left 0;
        height:68px;
	background-image:none;
	background-color:transparent;
	
}
div#path {
        font-size:0.85em;
        //      padding:0.5em 0.5em 0.5em 2em;
        padding:0.5em 0.5em 0.5em 0.5em;
        height:18px;
}

div#topmenu {
/*	background-image:url(../images/topmenu_bg.png);
	background-repeat:repeat-x; 

	height:33px;
	margin:0pt;
	padding:0pt;
*/
}
div#searchbox {
    display:none
}
.jdGallery .slideElement {
    background-color:#FFFFFF;
    background-repeat:no-repeat;
    height:100%;
    width:100%;
}