
body {
//	background-color:#FFFFFF;
	background-color: none;
	background-image:url(/extension/aaronschlosberg/design/standard/images/background.jpg);
	background-repeat:repeat-x;
	color:#535548;
	font-family:Arial,Helvetica,sans-serif;
	font-size:0.8em;
	margin:0pt;
	padding:0pt;
	text-align:center;
}

div#logo h1 {
        font-weight: bolder;
}
div#logo a {
        font-color: #000000;
	text-decoration: none;
}
div#header {

	// background-color: none;
	// background-image: url
	// background-color: grey;
	padding:0.25em 0.25em 0.75em;
}
div#topmenu {
/*	background-image:url(../images/topmenu_bg.png);
	background-repeat:repeat-x; */
	height:33px;
	margin:0pt;
	padding:0pt;
}

